.login-container-mobile {
  background-color: 'info';
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 96vh;
  margin-top: 82px;
  width: 100%;
}

.login-container {
  background-color: #FFF;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 589px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 448px;
  z-index: 1;
}

.left-container {
  background-color: 'paper';
  height: 100%;
}

.right-container {
  background-color: #F0F9FF;
  height: 100%;
}

.left-container, .right-container {
  position: relative;
  height: 100%;
}

.left-image{
  background-image: url(../assets/images/avatar-father.svg);
  background-position: center;
  background-size: cover;
  bottom: 24px;
  height: 50%;
  left: 8px;
  position: absolute;
  width: 50%;
} 

.right-image {
  background-image: url(../assets/images/avatar-family.svg);
  background-position: center;
  background-size: cover;
  bottom: 8px;
  height: 50%;
  position: absolute;
  right: 20px;
  width: 50%;
}

.logo {
  background-image: url(../assets/images/logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 48.25px;
  left: 20px;
  position: absolute;
  top: 20px;
  width: 163.11px;
}

.logo-mobile {
  background-image: url(../assets/images/logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 48.25px;
  left: 32px;
  position: absolute;
  top: 26px;
  width: 163.11px;
}